name: osx-build

on:
  push:
    branches:
    - main
    - viewshed
  pull_request:

jobs:
  osx:
    runs-on: macOS-latest
    name: macOS test
    env:
      GOEXPERIMENT: cgocheck2
    steps:
      - name: install gdal
        run: brew install pkg-config gdal proj geos
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.21
      - name: Tests
        run: go test . -race
